<mat-card>
  <form [formGroup]="frmStepTwo">
    <div class="form-group col-md-4">
      <label>Email*</label>
      <input type="text" class="form-control" formControlName="email" required>
    </div>
    <div class="form-group col-md-4">
      <label>Phone</label>
      <input type="text" class="form-control" formControlName="phone">
    </div>

    <mat-card-actions>
      <button mat-raised-button matStepperPrevious class="nav-btn pull-right">Back</button>
      <button mat-raised-button matStepperNext [disabled]="!frmStepTwo.valid"
      form="frmStepTwo" class="nav-btn pull-right">Next</button>
		</mat-card-actions>
			
  </form>
</mat-card>