<div style="text-align:center">
  <h1>{{ title }}!</h1>
</div>
<div id="registration" class="conatiner col-md-12">
    <mat-horizontal-stepper #stepper linear>
      <mat-step [stepControl]="step1.frmStepOne">
        <ng-template matStepLabel>Enter Personal Details</ng-template>
        <app-registration-step1 #step1></app-registration-step1>
      </mat-step>
      <mat-step [stepControl]="step2.frmStepTwo">
        <ng-template matStepLabel>Enter Contact Details</ng-template>
        <app-registration-step2 #step2></app-registration-step2>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Confirm Details</ng-template>
        <app-registration-step3 [frmStepOne]="step1.frmStepOne" 
          [frmStepTwo]="step2.frmStepTwo"></app-registration-step3>
      </mat-step>
    </mat-horizontal-stepper>
</div>