<div *ngIf="formSubmitted">
  <h4>Details submitted successfully</h4>
</div>
<div *ngIf="!formSubmitted">
  <h4>Following details submitted, please confirm and hit submit</h4>
  <br/>Name:  {{this.frmStepOne.get('firstname').value}} {{this.frmStepOne.get('lastname').value}}
  <br/>Email: {{this.frmStepTwo.get('email').value}} 
  <br/>Phone: {{this.frmStepTwo.get('phone').value}}
  <br/>
  <button type="button" matStepperPrevious>Back</button>
  &nbsp;
  <button type="button" (click)="submit()">Submit</button>
</div>